<li class="users_item">
  <%= link_to user, class: "user_link" do %>
    <div class="user_item_wrapper">
      <div class="user_icon">
      </div>
      <div class="user_info">  
        <span><%= user.name %></span>
        <span><%= user.created_at %></span>
      </div>
    </div>
  <% end %>
</li>