<div class="main_wrapper">
	<div class="main_inner">
    <h1><%= @user.name %></h1>
    <%= render 'shared/stats' %>
    <% if @users.any? %>
      <ul class="users_items">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>